<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Postgres</title>
</head>
<body>

    <% products.forEach(e => { %>
        <div>
            <h3><%= e.title %></h3>
            <p><%= e.desc %></p>
        </div>
    <% }); %>

</body>
</html>